body {
  background-color: #f8eee7;
}

.navbar-light{
  background-color: #f4decb;
}

.btn {
  background-color: #1e392a;
  color: #fff;
}

.btn:hover, .btn:visited, .btn:active {
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.spin{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  color: #1e392a;
}

.user-card{
  transition: transform 0.3s, background-color 0.3s ease;
}

.user-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  background-color: #e2fdee;
}

.user-img{
  border-radius: 50%;
  width: 50%;
  margin: auto;
}